h2 SENDING MAIL
form(action='/send_email', method='post')
    | Receiver Id :
    input(type='text', name='id')
    br
    | Message :
    input(type='text', name='message')
    br
    | Subject :
    input(type='text', name='subject')
    br
    input(type='submit',value='submit')
    br
    hr
    hr
